<section class="Testmonials">
  <div class="test-headers">
    <h1><span>Testmonials</span></h1>
    <h4 class="d-flex">
      <i class="bi bi-arrow-up-right p-2"></i>
      <p>all the Testmonials</p>
    </h4>
  </div>
  <section class="my-5">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h1>Comments</h1>
        <button
          class="btn button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add Comment
        </button>
      </div>
      <div class="row">
        @for(post of posts; track post.id) {
        <div class="col-lg-12 card1 rounded">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.message }}</p>
            <div class="d-flex justify-content-center">
              <button class="btn delete px-5" (click)="deleteItem(post.id)">
                Delete
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Comment</h1>
          <button
            type="button"
            class="button-x"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="bi bi-x-lg x-button"></i>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="addPost()">
            <div class="mb-3">
              <label for="title" class="form-label">Comment Title</label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                id="title"
              />
              @if (form.controls['title'].touched &&
              form.controls['title'].invalid) {
              <div>
                @if (form.controls['title'].errors &&
                form.controls['title'].errors['required']) {
                <span class="text-danger"> Comment Title is Required </span>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Comment Message</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="message"
                id="message"
              ></textarea>
              @if (form.controls['message'].touched &&
              form.controls['message'].invalid) {
              <div>
                @if (form.controls['message'].errors &&
                form.controls['message'].errors['required']) {
                <span class="text-danger"> Message is Required </span>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <button
                type="submit"
                class="btn button"
                [disabled]="form.invalid"
              >
                Add Comment
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="questions">
  <div class="questions-header">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <span class="d-flex justify-content-sm-end w-auto">
      <h6 class="text-white-50 mt-4">view all</h6>
      <i class="bi px-3 pt-3 p-3 ms-3 bi-arrow-right"></i>
    </span>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>How long does it take to complete webpage develoment project</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>Can you handke large sclaemobile app develoment project</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>can you integrate third-party APIs into our mobile app</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>How ldo you ensure cross-platform compatability for mobile apps</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>What is your approach to (UX) user Experiencs design?</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer1">
  <div class="text">
    <h1>READY TO TEANSFORM YOUR DIGITAL PRESENCE?</h1>
    <p>
      Take the first step towards digital success with NexGen by your side. Our
      team of experts is eager to craft tailored solutions that drive growth for
      your business.
    </p>
  </div>
</section>
<footer class="">
  <div class="section1">
    <div>
      <div class="social">
        <div class="icons d-flex justify-content-between">
          <i class="bi bi-instagram"></i>
          <i class="bi bi-arrow-right"></i>
        </div>
        <h1>INstagram</h1>
        <p>Share visually appealing snippets of our latest web projects.</p>
      </div>
      <div class="social">
        <div class="icons d-flex justify-content-between">
          <i class="bi bi-dribbble"></i>
          <i class="bi bi-arrow-right"></i>
        </div>
        <h1>Dribbble</h1>
        <p>Showcase design elements of our web projects.</p>
      </div>
    </div>
    <div class="ms-2.">
      <div class="social">
        <div class="icons d-flex justify-content-between">
          <i class="bi bi-twitter-x"></i>
          <i class="bi bi-arrow-right"></i>
        </div>
        <h1>Twitter</h1>
        <p>Tweet about interesting coding challenges you've overcome.</p>
      </div>
      <div class="social pb-5">
        <div class="icons d-flex justify-content-between">
          <i class="bi bi-behance"></i>
          <i class="bi bi-arrow-right"></i>
        </div>
        <h1>Behance</h1>
        <p>Create detailed presentations for our projects.</p>
      </div>
    </div>
  </div>
  <div class="section2">
    <div class="details">
      <div class="details-part1">
        <div class="part">
          <h4>Home</h4>
          <ul>
            <li>Why Us</li>
            <li>About Us</li>
            <li>Testimonials</li>
            <li>FAQts</li>
          </ul>
        </div>
        <div class="part">
          <h4>services</h4>
          <ul>
            <li>Web Development</li>
            <li>Web Design</li>
            <li>Digital Marketing</li>
          </ul>
        </div>
        <div class="part">
          <h4>Project</h4>
          <ul>
            <li>Klothink</li>
            <li>Zenith</li>
            <li>Novus</li>
            <li>Apex</li>
          </ul>
        </div>
        <div class="part">
          <h4>Blogs</h4>
          <ul>
            <li>Business</li>
            <li>Design</li>
            <li>Development</li>
          </ul>
        </div>
      </div>
      <div class="details-part2">
        <div class="details-part2-info">
          <h6>Newsletter</h6>
          <h2>Subscribe To our Newsletter</h2>
        </div>
        <input type="email" placeholder="Enter your email" class="email" />
        <i class="bi bi-arrow-right ps-3"></i>
      </div>
    </div>
  </div>
</footer>
<div class="section3 d-flex justify-content-between">
  <h6>© 2024 NextGen. All rights reserved.</h6>
  <div class="d-flex">
    <h6>Terms & Conditions</h6>
    <h6 class="ms-5">Privacy Policy</h6>
  </div>
</div>
